.nav-link-ul li a:after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: red;
    content: '';
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -webkit-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

.nav-link-ul li a:hover:after, .nav-link-ul li a:focus:after {
    height: 3px;
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
}

.nav-link-ul li{
    position: relative;
}

.loader-container {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #f3f4f6;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 48px;
    height: 48px;
    border: 3px solid #d1d5db;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 3px solid;
    border-color: #FF3D00 transparent;
  }

  .certification-card-js {
    background: url('./assets/img/certificate/js.webp');
  }

  .certification-card-fe {
    background: url('./assets/img/certificate/responsive.webp');
  }

  .certification-card-be {
    background: url('./assets/img/certificate/backend.webp');
  }

  .certification-card {
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 10/8;
    display: flex;
    cursor: pointer;
  }
  
  .certification-card-overlay {
    color: white;
    background: linear-gradient(to top, rgba(0,0,0,.4), transparent);
    width: 100%;
    height: 100%;
    opacity: .2;
    transition: .3s linear all;
  }

  .certification-card:hover .certification-card-overlay {
    transform: scale(1.5);
    opacity: 1;
  }

  .bg-color-gg {
    background-color: #5b6467;
    background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

  .hiddenX {
    display: none;
  }